.project-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

header, footer {
  background-color: #404040;
}

#avatar {
  width: 20%;
  height: 50%;
  cursor: pointer;
}

figure {
  object-fit: contain;
  max-width: 100%;
}

.foot {
  font-size: 32px;
  color: white;
}

.ribbon {
  width: 100px;
  font-size: 20px;
  padding: 4px;
  position: absolute;
  right: -25px;
  top: -12px;
  text-align: center;
  border-radius: 25px;
  transform: rotate(20deg);
  background-color: #0d6efd;
  color: white;
}

.certificate {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.progress {
  height: 30px;
}

/*  Back to Top Button  */

#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}

#toTop:hover {
  background-color: #555;
}

/*  Projects Gallery  */

.modal-body img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.modal-body img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}
